/*
body {

  background-color: beige;
  text-align: center;
  text-style: Comfortaa, sans-serif;
}



h1 {
  color: #54727A;
  font-size: 5rem;
  text-decoration: underline;
}
*/

.name {
  color: purple;
  text-align: center;
  font-size: 5em;
  font-family: Gill Sans, sans-serif;
}
