/*
body {

  background-color: beige;
  text-align: center;
  text-style: Comfortaa, sans-serif;
}



h1 {
  color: #54727A;
  font-size: 5rem;
  text-decoration: underline;
}
*/

.name {
  color: #284AA6;
  text-align: center;
  font-size: 4em;
  font-family: Gill Sans, sans-serif;
  text-decoration: underline;
  margin: 10% 10% 10% 10%;
  padding: 1cm 1cm 1cm 1cm;
}


.question {
  color: black;
  text-align: center;
  font-size: 2em;
  font-family: Gill Sans, sans-serif;
  margin: 20px 20px 20px 20px;
  padding: 10% 10% 10% 10%;
  border-style: solid;
  border-radius: 10px;
  border-colour: #D1BD3F;
  border-width: 10px;
}


body {
  background-color: #F0D9B6;
}
